
/*====================  Roots  ====================*/

:root {

   /* backgrounds */
   --bg-section-color: #CBD4CC;

   /* colors */
   --first-color: #263E49;
   --text-color: #003C58;
   --text-color2: #005c86;
   --text-menu-color: #ffffff;

   /* font family */
   --rubik: 'Rubik', sans-serif;
}

/*=================================================*/

/*====================  Body and HTML ====================*/
html {
   scroll-behavior: smooth;
}

body {
   background: #f3f3f3;
}

.container {
   width: 80%;
   margin: 0 10%;
}
/*======================================================*/

/*====================  Scroll Bar  ====================*/
::-webkit-scrollbar {
   width: 8px;
}

::-webkit-scrollbar-track {
   box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
}

::-webkit-scrollbar-thumb {
   background-color: #003C58;
}

::-webkit-scrollbar-thumb:hover {
   background-color: #016fa1;

}
/*======================================================*/

/*====================  Header  ====================*/
header {
   width: 100%;
   height: 80px;
   background: var(--first-color);
   display: flex;
   align-items: center;
   justify-content: space-around;
}


.logo {
   max-width: 100%;
   width: 92px;
}

.menu__list {
   display: flex;
}

.menu__link {
   color: var(--text-menu-color);
   font-family: var(--rubik);
   font-size: 1.10rem;
   font-weight: 300;
   text-decoration: none;
   margin-right: 1.6rem;
}

/*==================================================*/

/*====================  Hola Soy  ====================*/
.presentation {
   display: flex;
   margin-top: 6rem;
   height: 100hv;
   justify-content: space-around;
   align-items: center;
   box-sizing: border-box;
   text-align: center;
}

.presentation__textos {
   width: 40%;
}

.presentation__nombre {
   padding-top: 2rem;
   font-size: 3.2rem;
   font-weight: bold;
   font-family: var(--rubik);
   text-align: center;
}

.presentation__nombre strong {
   color: var(--text-color);
}

.presentation__description {
   font-size: 1.2rem;
   font-family: var(--rubik);
   font-weight: lighter;
   color: #7C8380;
   text-align: center;
}

.presentation__list {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 2.5rem;
}

.presentation__item {
   margin-left: 2rem;
}

.presentation__link {
   color: #003C58;
   font-size: 2.5rem;
}

.presentation__cv {
   background-color: #003C58;
   text-decoration: none;
   color: #ffffff;
   font-family: var(--rubik);
   font-size: 1rem;
   font-weight: 300;
   padding: .4rem;
   border-radius: 10px;
   display: inline-block;
   margin-top: 2rem;
}


.container__foto {
   max-width: 100%;
   width: 40%;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-color: aqua;
}

.foto {
   background: url(../img/foto.png) center / cover;
   width: 23.5rem;
   height: 23.5rem;
   border-radius: 50%;
   background-color: var(--first-color);
}

/*====================================================*/

/*====================  About Me  ====================*/
.about {
   width: 100%;
   height: 100vh;
   margin-top: 6rem;
   background: var(--bg-section-color);
}

.about__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 8rem;
}

.about__img {
   max-width: 100%;
   width: 25rem;
   height: auto;
}

.about__me {
   width: 55%;
}

.about__title {
   font-family: var(--rubik);
   font-size: 3rem;
   color: var(--text-color);
   margin-bottom: 4rem;
}

.about__description {
   font-family: var(--rubik);
   font-size: 1.2rem;
}
/*====================================================*/

/*====================  Skills  ====================*/
.skills__container {
   margin-top: 3rem;
   height: 100vh;
}

.skills__title {
   color: var(--text-color);
   font-family: var(--rubik);
   font-size: 3rem;
   padding-top: 8rem;
   padding-bottom: 2rem;
   text-align: center;
}

.icons__container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   margin-top: 4rem;
}

.icon__img {
   max-width: 100%;
   width: 7rem;
   height: auto;
   padding-left: 2rem;
}
/*==================================================*/

/*====================  Forma academica  ====================*/
.study {
   background: var(--bg-section-color);
   height: 100vh;
}

.study__title {
   color: var(--text-color);
   font-family: var(--rubik);
   font-size: 3rem;
   padding-top: 4rem;
   padding-bottom: 2rem;
   text-align: center;
}

.study__container {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin-top: 4rem;
}

.study__img {
   max-width: 100%;
   width: 10rem;
   height: auto;
}

.study__info__title {
   width: 40;
   color: #05628C;
   font-family: var(--rubik);
   font-size: 2rem;
   font-weight: 500;
   margin-left: 6rem;
}

.study__description {
   color: #393939;
   font-family: var(--rubik);
   font-size: 1rem;
   margin-left: 6rem;
}
/*===========================================================*/

/*-- ====================  Proyectos  ==================== --*/
/* .project {

} */
.project .project__title {
   color: var(--text-color);
   font-family: var(--rubik);
   font-size: 3rem;
   padding-top: 4rem;
   padding-bottom: 2rem;
   text-align: center;
}

.card__container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;

}

.card {
   width: 330px;
   height: 430px;
   background: #486370;
   border: 4px solid #486370;
   border-radius: 10px;
   box-shadow: -11px 10px 7px -3px rgba(0,0,0,0.3);
   text-align: center;
   margin-top: 2rem;
}


.card__img {
   max-width: 100%;
   width: 330px;
   height: 220px;
   border-radius: 10px;
}

.card__title {
   font-family: var(--rubik);
   color: var(--text-menu-color);
   font-size: 1.1rem;
   font-weight: 500;
   margin-top: 2rem;
}

.card__text {
   font-family: var(--rubik);
   color: #e2e2e2;
   font-weight:lighter;
   margin-top: 1rem;
}

.card__btn {
   margin-top: 3rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.card__link {
   text-decoration: none;
   background: #263E49;
   color: var(--text-menu-color);
   font-family: var(--rubik);
   font-size: 1rem;
   padding: .6rem;
   border-radius: 8px;
}
/*-- ===================================================== --*/

/*-- ====================  Contact  ==================== --*/
.contact {
   margin-top: 4rem;
   height: 100vh;
}

.contact__title {
   color: var(--text-color);
   font-family: var(--rubik);
   font-size: 3rem;
   padding-top: 4rem;
   padding-bottom: 1rem;
   text-align: left;
}

.contact__container {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.contact__img {
   max-width: 100%;
   width: 28rem;
   height: auto;
}

form {
   width: 40%;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   font-family: var(--rubik);
}

input, textarea {
   display: block;
   width: 24rem;
   height: 2rem;
   outline: none;
   border-radius: 8px;
   border: none;
   margin-top: 2rem;
}

textarea {
   resize: none;
   height: 12rem;
   padding-top: 2rem;
}

.field {
   border: solid 3px var(--text-color2);
   font-family: var(--rubik);
   font-weight: 500;
   padding-left: 2rem;
}

.btn__enviar {
   background: var(--text-color2);
   color: var(--text-menu-color);
   font-family: var(--rubik);
   font-weight: 500;
   height: 2.5rem;
   text-align: center;
}
/*-- =================================================== --*/

/*-- ====================  Footer  ==================== --*/
footer {
   width: 100%;
   height: 8rem;
   background: var(--first-color);
}


.social__container {
   text-align: center;
   width: 40%;
   margin: 0 auto;
}

.social__list {
   display: flex;
   justify-content: space-between;

}

.social__item {
   padding-left: 1rem;
   margin-top: 1rem;
   width: 40%;
}

.social__icon {
   font-size: 4rem;
   color: #dbdbdb;
}

.footer__text {
   color: #989b9a;
   font-family: var(--rubik);
   text-align: center;
   padding-top: 1rem;
}
/*-- ================================================== --*/
